.section {
    display: flex;
padding: 0px 20px;
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch;
}

.title{
display: flex;
max-width: 470px;
padding: 24px 0px;
flex-direction: column;
text-align: center;
self-align: center;
justify-self:center;
align-items: center;
gap: 24px;
}


.card {
/* aspect-ratio: 1; */
display: flex;

flex-direction: column;
align-items: center;
gap: 16px;
align-self: stretch;

border-radius: 20px;

}


.card_title{ 

font-feature-settings: 'clig' off, 'liga' off;

}

