.section {
display: flex;
padding: 170px 20px 80px 20px;
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch;
background-image: url('/assets/decorations/bg.jpg');
background-repeat: no-repeat;
background-size: cover;
/* width: 100%; */
min-height: 100vh;
background-attachment: fixed;

}
/* #FFFFFF0D, #FFFFFF00  */

.heading {
background: linear-gradient(146deg, #ECECEC 20.35%, rgba(236, 236, 236, 0.00) 128.73%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}